/*===== content =====*/

#content {
    padding-bottom: 260px;
    padding-top: 20px;;
    background-color: rgba(247, 187, 124, 0.8) !important;
}

#content h3 {
    text-align: center;
    color: #485771;
    font-size: 56px;
    padding-bottom: 20px;
}

.box-img {
    padding: 10px;
    background: #485771;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    box-shadow: 0 0 3px #c5c2a9;
    -moz-box-shadow: 0 0 3px #c5c2a9;
    -webkit-box-shadow: 0 0 3px #c5c2a9;
    display: inline-block
}

.box-img img {
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.list-recipes {    
    border-radius: 10px;
    max-width: 100%;
    margin: 15px 55px 15px 40px;
    padding: 15px 55px 15px 40px;
    overflow: hidden;
    width: 600px auto;
    height: 80%; 
}

.list-recipes li h4 {
    color: #485771;
    font-size: 52px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.list-recipes li {
    padding-bottom: 30px;
    padding-left: 28px;
    color: #485771;
}

.list-recipes {
    list-style: none;
}

.list-recipes {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
  
.list-recipes li {
   list-style: none;
   flex: 0 0 33.333333%;
   border-radius: 16px;
   -moz-border-radius: 16px;
   -webkit-border-radius: 16px;
   box-shadow: 0 0 3px #eab449!important;
   -moz-box-shadow: 0 0 3px #c5c2a9;
   -webkit-box-shadow: 0 0 3px #c5c2a9;
}

.list-recipes li p{
    margin: 10px 65px 10px 5px;
    text-align: left!important;

}